html {
  transition: background-color 0.5s ease;
}

body * {
  transform: rotate(0) scale(1);
  transition: transform 0.5s ease, color 0.5s ease;
  filter: blur(0px);
}

body {
  background-color: #000000;
  color: #ffffff;
  font-family: 'sans-serif', sans-serif;
  font-size: 1em;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#badger:hover {
  transform: rotate(2deg) scale(1.2);
  color: red;
  filter: blur(0);
}


#headertext {
  font-size: 4em;
  transition: all 0.5s ease;
  transform-origin: 50% 50%;
  font-family: 'sans-serif', sans-serif;
  color: #524f4f;

}

#badger {
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

#footer {
  text-align: center;
  font-size: 1em;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#welcome {
  text-align: center;
  font-size: 1.5em;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}